div, ul, li, span {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

    #wrapper p {
        text-decoration: underline;
    }

button {
    padding: 5px;
    margin: 5px;
}

h1, h2 {
    text-align: center;
}

ul li {
    list-style-type: none;
}

    ul li .selected {
        background-color: gray;
    }
