body {
    font-family: sans-serif;
}

.mainTable {
    margin: auto;
    width: 800px;
}

th {
    border: 1px solid gray;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: x-large;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-color: black;
    border-bottom-width: 2px;
}
td {
    /*border: 1px solid gray;*/
    margin:0 0 0 0;
}

a {
    color: #00aff0;
}
.box {
    width:300px;
}

fieldset {
    padding:0 0 0 0;
    margin:0 0 0 0;
}